/.git
/.env
/.env.backup
/.env.production
/node_modules
/vendor
/storage/logs
/storage/framework/sessions
/storage/framework/cache
/storage/framework/views
/bootstrap/cache
/public/hot
/public/build
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
*.log
.DS_Store
Thumbs.db


